<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>GPON</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="apple-touch-icon" href="/apple-touch-icon.png">
        <!-- Place favicon.ico in the root directory -->

    </head>
    <body>
        <table>
            <tr>
                <th>Gpon Port</th>
                <th>ont ID</th>
                <th>Runstate</th>
                <th>Last UpTime</th>
                <th>Last DownTime</th>
                <th>Last DownCause</th>
                <th>SN</th>
                <th>Type</th>
                <th>Distance</th>
                <th>rx/tx Power</th>
                <th>Description</th>
            </tr>
            {% for key in keys %}
                <tr>
                    <td>{{key.gpon_port}}</td>
                    <td>{{key.ont_id}}</td>
                    <td>{{key.run_state}}</td>
                    <td>{{key.last_uptime}}</td>
                    <td>{{key.last_downtime}}</td>
                    <td>{{key.last_downcause}}</td>
                    <td>{{key.sn}}</td>
                    <td>{{key.type}}</td>
                    <td>{{key.distance}}</td>
                    <td>{{key.rx_tx_power}}</td>
                    <td>{{key.description}}</td>
                </tr>
            {% endfor %}
        </table>
    </body>
</html>
